.modal {
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
}

.modal-conteiner {
    background-color: white;
    height: 100%;
    padding: 10px 10px;
    position: relative;
    .close {
        display: block;
        text-align: right;
        text-decoration: none;
        font-size: 2rem;
        padding-right: 20px;
        color: black;
    }
}

#modal:target {
    opacity:1;
    pointer-events:auto;
}